$path: '../assets/';

@mixin font-open-sans($postfix, $weight) {
  $OpenSans: 'OpenSans';

  @font-face {
    font-family: $OpenSans;
    src: local('#{$OpenSans}#{$postfix}'), local('#{$OpenSans}-#{$postfix}'),
      url('#{$path}#{$OpenSans}-#{$postfix}.woff2') format('woff2'),
      url('#{$path}#{$OpenSans}-#{$postfix}.woff') format('woff');
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}

@include font-open-sans('Regular', 400);
@include font-open-sans('SemiBold', 600);
