.ticket-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}

.ticket-list__spinner {
  padding-top: 30px;
  margin-inline: auto;
}

.ticket-list__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  font-size: 22px;
  color: #2196f3;
}
